/* .row_posters{
    display: flex;
    gap: 10px;
}
.row_posters img{
    background-repeat: no-repeat;
    background-size: cover;
    height: 68px;
    width: 100px;
} */

.row_posters{
    display: flex;
    /* gap: 5px; */
    overflow-y: hidden; /*hide the vertical scroll bar*/
    overflow-x: scroll; /*show the horizontal scroll bar*/
    padding:12px 0 16px 10px;
    scrollbar-width: none;
}
.row_posters::-webkit-scrollbar{
    display: none; /* hide the scroll bar */
}

.row_poster{
    object-fit: contain; /*to make the image fit in the div*/
    width: 161px;
    max-height: 91px;
    transition: transform 400ms;
    margin-right: 10px;
    box-sizing: border-box;
    
}

.row_poster:hover , .row_posterLarge:hover{
    transform: scale(1.08);
    opacity: 1;
    box-shadow: 0 0 5px 0 rgba(53, 51, 51, 0.5);
}
.row_posterLarge{
    object-fit: contain; /*to make the image fit in the div*/
    width: 112px;
    max-height: 168px;
    transition: transform 400ms;
    margin-right: 10px;
    
}
.title{
    font-size: 25px!important;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
padding-top: 8px!important;
padding-left: 13px!important;
}
}